html,
body {
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
}

@font-face {
  font-family: "Sacramento";
  src:  url('../fonts/Sacramento-Regular.ttf') format('truetype')
}

@font-face {
  font-family: "Proxima-Nova";
  src:  url('../fonts/Proxima-Nova-Regular.ttf') format('truetype')
}

/*@font-face {
  font-family: "Roboto";
  src:  url('../fonts/Roboto-Regular.ttf') format('truetype')
}*/

h1,h2,h3 {
    font-family: 'Sacramento';
}

p,a {
    font-family:'Roboto'
}


.splash {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;

    .splash-img {
        width: 100%;
    }

    .down-arrow {
        position: absolute;
        top:90%;
        left: 48.5%;
        z-index: 100;
        margin: auto;
    }
}

nav {
    /*background-color: #f6f6f6;*/
    background-color: lightgray;
    height: 3em;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    box-shadow: 0 1px 21px 8px rgba(0, 0, 0, .07);

    a {
        text-decoration: none;
        margin: 0 1em 0 1em;
    }

    a:link{
      color:black;
    }

    a:visited{
      color:black;
    }

    a:hover{
      color:maroon;
    }

    a[ id= "schedule" ]:target {
        -webkit-transform: translateY( 0px);
        transform: translateY( 0px );
    }
}

nav.fixed {
    position: fixed;
    width: 100%;
    top:0;
}

@media (min-width: 550px) {
    nav a {
        margin: 0 2em 0 2em;
    }
}

@media (min-width: 960px) {
    nav a {
        margin: 0 4em 0 4em;
    }
}

main {
    display: inline-block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    section {
        // padding: 5em;
        width: 80%;
    }
}

main.fixed-content {
    margin-top: 5em;
}

main > * {
    text-align: center;
}

.rule {
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 15px auto;
}

.day {
    text-align: left;
    padding-bottom: 2em;
}

.time-container {
    text-align: right;
}

.event {
    text-align: left;
}

#schedule h2,
h3 {
    text-align: left;
}

#ceremony-reception-map {
    position: relative;
    padding-bottom: 40%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.travel {
    margin: 0 15%;
}

.travel-data {
    text-align: left;
}

#rsvpModal {
    display: block;
    position: absolute;
}

.show {
    display: block;
}

/*Pinterest-like Responsive Fluid Grid Layout*/
#photos img {
    /*width: 100px;*/

}